<section class="hero is-medium is-info is-bold">
  <div class="hero-body">
    <div class="container">
      <h1 class="title is-1">
        Шано ексЧейндж!
      </h1>
      <h2 class="title">
        <button onclick="window.location.href='#/alice'"
                class="button is-secondary">
          Alice
        </button>
        <button onclick="window.location.href='#/carol'"
                class="button is-secondary">
          Carol
        </button>
      </h2>
    </div>
  </div>
</section>
